{% extends "bootstrap/base.html" %}

{% block head%}
{{ super() }}
{{ fontawesome_html() }}
{% endblock %}
{% block title %}StandupBot{% endblock %}

{% block navbar %}

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-light border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-bold">StandupBot</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Contact</a>
    </nav>
</div>

{% endblock %}
{% block content %}
<div class="container mb-5">
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for c, m in messages %}
                <div class="alert alert-{{c}}">{{m}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}


