{% extends "base.html" %}

{% block title %}Save your tasks{% endblock %}

{% block page_content %}

<div class="d-flex flex-column mt-5">
  <h1 class="d-flex justify-content-center mt-5">Save your tasks</h1>
  <form action="" method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="form-group">{{ form.date.label }} {{ form.date(class="form-control") }}</div>
      <div class="form-group">{{ form.today_tasks.label }} {{ form.today_tasks(class="form-control") }}</div>
      <div class="form-group">{{ form.yesterday_tasks.label }} {{ form.yesterday_tasks(class="form-control") }}</div>
      <div class="form-group">{{ form.additional_info.label }} {{ form.additional_info(class="form-control") }}</div>
      <div class="form-group d-flex justify-content-center mt-3">
        <input type="submit" value="Save" class="btn btn-success">
      </div>
  </form>
</div>
{% endblock %}

